/*.lock
/vendor/bundle
/.bundle
/log/*
/sql/*
/sqlipt/*
/tmp
*.swp
*.project
*.secret
/config/*
!/config/*.sample

db/*
db/migrate/*
!db/migrate/
!db/migrate/sample/
!.gitkeep

.*.standalone_migrations

/*.sh
